*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
} 
.logo h2{
    font-size: 45;
font-weight: 700;
}
.color-orange{
    color: #FD6E0A;
}
header{
    padding-top:50px;
    background-color: #FFF8F3;
}
.btn{
    background-color: #E96910;
    color:#FFF8F3;
    padding: 18px 35px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
}
nav{
    width: 71%;
    max-width: 1140px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
    nav .menu a{
        font-size: 20px;
        color: #474747;
        text-decoration: none;
    }