*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.font-open-sans> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
} 
.logo h2{
    font-size: 45px;
font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #E96910;
     border: none;
    
    color: white;
    padding: 18px 35px;
   
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
    
}
.section-heading h2{
    font-size: 35px;
    /* font-weight: bold; */
   margin-bottom: 30px; 
}
.section-heading p{
    color:#757575;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 30px;
}
.container {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
}

.text-center{
    text-align: center;
}


/* main style */
header{
      background-color: #FFF8F3;
    
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-position:top left, bottom right;
    background-repeat: no-repeat;
    padding-top:50px;
  
}

nav{

   
   /* margin: 0 auto; */
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
    nav .menu a{
        font-size: 20px;
        color: #474747;
        text-decoration: none;
    }

#banner{
  /* border: 1px solid red; */
  margin:47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
  /* border: 1px solid blue; */
  font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
    
   
}
#banner .banner-content p{
    font-size: 18px;
    color:#757575;
    margin-bottom: 30px;
    line-height: 30px;
}
#banner .banner-image img{
  max-width: 585px;
  vertical-align: middle;
}
#about,#resume,#skills{
    padding-top: 130px;
}
#about .about-container{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF8F3;
    text-align: center;
    padding: 131px 156px;
}

#about .about-container .about-info{
    max-width: 782px;
    display: flex;
    justify-content: space-around;


}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4{
    font-size: 20px;
    line-height: 30px;

}

  

#skills .skill-container{
    width: 71%;
    max-width: 1140px;
    margin:0 auto;
    
    
}
#skills .skill-container .skill-box{
    display: flex;
    gap: 24px;
    justify-content: center;

}
.skill-box .skill-card{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
    /* border: 1px solid black; */
    box-shadow: 0 6px 50px 0 #cccccc49;
    max-width: 243px;

}
.skill-card img{
    width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color:#181818;
    margin-bottom: 20px;
}
.skill-card p{
    /* margin-top: 20px; */
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    /* margin-bottom: 30px; */

}
#resume .resume-container {

    margin-top: 113px;
    display: flex;
    gap: 24px;
}

.resume-container hr {
    margin: 30px 0
}

.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card {
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747
}

.resume-card .card-info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}

.resume-card .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
   
    
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
 .footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-container .social p{
    /* margin-top: 20px; */
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-container .social .icons a{
    margin-right: 24px;
}
.footer-container form input[type="text"],.footer-container form input[type="email"],.footer-container form textarea{
    width: 461px;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
    font: size 16px;
    line-height: 18px;
    margin-bottom: 24px;
}

